*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background: linear-gradient(to left bottom, #049494, #4f32bb);
}

.example {
  text-align: center;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 2px;
  background-color: rgb(11, 125, 3);
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(11, 125, 3);
}

button:active {
  box-shadow: none;
}
